
.Title {
    font-size: 55px;
    color: black;
    font-weight: bolder;
    text-underline-position: below;
    outline: 0ch;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border-bottom-right-radius: 10cm;
    border-bottom-left-radius: 10cm;
    border-top-left-radius: 10cm;
    border-top-right-radius: 10cm;
    border: 0.25cm;
    border-style: solid;
    border-color: rgb(229, 75, 75);
    border: 10px ridge  rgb(229, 75, 75);
    /* font-style: italic; */
}
#mods{
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom-right-radius: 10cm;
    border-bottom-left-radius: 10cm;
    border-top-left-radius: 10cm;
    border-top-right-radius: 10cm;
    border: 0.25cm;
    border-style: solid;
    border-color: rgb(229, 75, 75);
    border: 10px ridge  rgb(229, 75, 75);
}
.SubHeading {
    font-size: 18px;
    color: rgb(229, 75, 75);
    border-image-outset: 3cm;
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    font-weight: bold;
}
.centered{
    font-size: 0;
    text-align: center;
}
.tags{
    text-align: center;
}
/* .SmolBody {
    font-size: 15px;
    text-align: center;
    color: orange;
} */

#link {
    color:blue;
    text-underline-position: below;
    font-weight: bolder;
    font-size: 20px;
}

#intro{
    font-size: 21px;
    color: black;
    border-bottom-right-radius: 2cm;
    border-bottom-left-radius: 2cm;
    border-top-left-radius: 2cm;
    border-top-right-radius: 2cm;
    border: 0.25cm;
    border-style: solid;
    border-color: rgb(229, 75, 75);
    border-left-width:1.5cm;
    border-right-width:1.5cm;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border: 10px ridge  rgb(229, 75, 75);
}
/* #WorkshopPic{
    font-size: 0;
    text-align: center;
}
#Workshop{
    text-align: center;
    font-size: 19px;
    color: black;
    border-bottom-right-radius: 2cm;
    border-bottom-left-radius: 2cm;
    border-top-left-radius: 2cm;
    border-top-right-radius: 2cm;
    border: 0.25cm;
    border-style: solid;
    border-color: brown;
    border-left-width:3cm;
    border-right-width:3cm;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
} */
#w3-tag{
    font-size: 35px;
    color: white;
    /* font-weight: bold; */
    font-family:'Times New Roman', Times, serif ;
    background-color:rgb(229, 75, 75);
}
img{
    /* height: 500px;
    width: 600px; */
    border: 10px ridge rgb(229, 75, 75);
    border-bottom-right-radius: 0.5cm;
    border-bottom-left-radius: 0.5cm;
    border-top-left-radius: 0.5cm;
    border-top-right-radius: 0.5cm;
    }
html {
    background-color: rgb(246, 211, 123);
    
}
#Bottom{
    text-align: center;
}

/* #Pic {
    border-image: auto;
    object-position: right;
    border: 0.25cm;
    border-style: solid;
    border-color: rgb(208, 89, 89);
    border-bottom-right-radius: 2cm;
    border-bottom-left-radius: 2cm;
    border-top-left-radius: 2cm;
    border-top-right-radius: 2cm;
} */